body{
  background: rgb(237, 237, 238);
}

#content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrier{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(127, 136, 143);
  height: 47.8px;
  width: 48px;
  border: 1px solid black;
}

.battleship{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(235, 94, 28);
  height: 47.8px;
  width: 48px;
  border: 1px solid black;
}

.destroyer{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(107, 185, 5);
  height: 47.8px;
  width: 48px;
  border: 1px solid black;
}

.submarine{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(17, 5, 185);
  height: 47.8px;
  width: 48px;
  border: 1px solid black;
}

.patrol-boat{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(255, 189, 6);
  height: 47.8px;
  width: 48px;
  border: 1px solid black;
}


.gridContainer1{
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  background-color: rgb(110, 195, 252);
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.gridContainer2{
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  background-color:  rgb(110, 195, 252);
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.grid-square{
  border: 1px solid black;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;

}



.name-title {
  display: inline-block;
  font-size: 65px;
  color: #000;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 2rem;
}

.capt-info{
  border: 2px solid black;
  padding: 15px 120px 20px 120px;
  font-size: 35px;
  font-weight: normal;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  margin-bottom: 2rem;
  height: 30px;
  background-color: rgb(191, 203, 209);
  


}

.btns{
  padding: 10px;
  font-weight: bold;
  background-color: white;
  outline: none;
  font-size: 15px;
  border:none;
}

.btns:hover{
  background-color: rgb(237, 248, 255);
  cursor: pointer;
}

.hidden{
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 0rem 3rem 3rem 3rem;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  border: 1px solid black;
  width: 30%;
  height: 33%;
  background: rgb(255, 255, 255);

}

#rules-title{
  display: flex;
  justify-content: center;
  width: 100%;
}

.close-modal{
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: none;
  background: none;
  outline: none;


}

.close-modal:hover{
  outline: none;
}

p{
 text-align: center;
 font-size: 18px;
}

#enterYourName{
  padding: 15px 30px 15px 30px;
  width: 40%;
  height: 30px;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 48px;
  font-weight: bolder;

}

#submitBtn {
  font-size: 25px;
  font-weight: bolder;
  padding: 15px;
  cursor: pointer;
}

.playerNameContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20rem;
}

.nameOnShips{
  display: flex;
  width: 100%;
  justify-content: center;
  justify-content: space-around;
}

#playerNameHeader, #enemyWaters{
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 5px;
  height: 37px;
}

.btns-container{
  margin-bottom: 2rem;
}

#ships-main-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 20rem;
}

.carriers-Container{
  height: 300px;
  width: 300px;
  background-color: rgb(210, 212, 218);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.ship{
   display: flex;
  justify-content: center; 
  flex-direction: column;
}

.shipAxis{
  display: flex;
 justify-content: center; 
 flex-direction: column;
}

.dragging{
  opacity: .9;
}
