body{
  background: rgb(237, 237, 238);
}

#content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridContainer1{
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  background-color: rgb(125, 125, 196);
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.gridContainer2{
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  background-color: rgb(125, 125, 196);
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.grid-square{
  border: 1px solid black;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;

}



.name-title {
  display: inline-block;
  font-size: 55px;
  color: #000;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 2rem;
}

#capt-info{
  border: 2px solid black;
  padding: 15px 150px 15px 150px;
  font-size: 35px;
  font-weight: normal;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  margin-bottom: 2rem;


}

.btns{
  padding: 10px;
  font-weight: bold;
  background-color: white;
  outline: none;
  font-size: 15px;
  border:none;
}

.btns:hover{
  background-color: rgb(237, 248, 255);
  cursor: pointer;
}

.hidden{
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 0rem 3rem 3rem 3rem;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  border: 1px solid black;
  width: 30%;
  height: 33%;
  background: rgb(255, 255, 255);

}

#rules-title{
  display: flex;
  justify-content: center;
  width: 100%;
}

.close-modal{
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: none;
  background: none;
  outline: none;


}

.close-modal:hover{
  outline: none;
}

p{
 text-align: center;
 font-size: 18px;
}

#enterYourName{
  padding: 15px 70px 15px 70px;
  width: 100%;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  text-align: center;

}

#submitBtn {
  font-size: 25px;
  font-weight: bolder;
  padding: 15px;
  cursor: pointer;
}

.playerNameContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameOnShips{
  display: flex;
  width: 100%;
  justify-content: center;
  justify-content: space-around;
}

#playerNameHeader, #enemyWaters{
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 5px;
  height: 37px;
}

#btns-container{
  margin-bottom: 2rem;
}
